<div class="footer-logo" style="display: flex; align-items: center; gap: 8px; margin-bottom: 0;">
  <a href="https://amcr.lbl.gov/" target="_blank"><img src="{{ '/assets/logos/amcr-logo.png' | relative_url }}" alt="AMCR Logo" style="max-height: 50px;"></a>
  <a href="https://lbl.gov" target="_blank"><img src="{{ '/assets/logos/lbl-logo.png' | relative_url }}" alt="LBNL Logo" style="max-height: 50px;"></a>
  <span><a href="https://amcr.lbl.gov/" target="_blank">Applied Mathematics and Computational Research</a> <br> <a href="https://lbl.gov" target="_blank">Lawrence Berkeley National Laboratory</a></span>
</div>

<div class="footer-copyright mt-2" style="font-size: 0.8rem; color: #63666a;">
    <p>&copy; {{ "now" | date: "%Y" }} Regents of the University of California.</p>
     <p><a href="https://lbl.gov" target="_blank">Lawrence Berkeley National Laboratory</a> is a <a href="https://www.energy.gov/science/office-science" target="_blank">U.S. DOE Office of Science</a> national laboratory managed by the <a href="https://www.ucop.edu/laboratory-management/about-the-labs/overview-lbnl.html" target="_blank">University of California</a>.</p>
</div>
<div class="footer-logo" style="display: flex; align-items: center; justify-content: flex-end; gap: 8px; margin-bottom: 0;">
  <a href="https://www.energy.gov/science/office-science" target="_blank"><img src="{{ '/assets/logos/doe-logo.svg' | relative_url }}" alt="DOE Logo" style="max-height: 35px;"></a>
  <a href="https://www.ucop.edu/laboratory-management/about-the-labs/overview-lbnl.html" target="_blank"><img src="{{ '/assets/logos/uc-logo.svg' | relative_url }}" alt="UC Logo" style="max-height: 35px;"></a>
</div>

<div class="footer-copyright mt-2" style="font-size: 0.8rem; color: #63666a;">
  <details>
    <summary>Funding & Copyright Information</summary>
    <p><strong>Copyright Notice</strong><br />
      Add your copyright here.
    </p>
    <p><strong>Funding Acknowledgment</strong><br />
      Add your funding acknowledgement here.
    </p>
  </details>
</div>
