<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    {% include header.html %}
    
    <main id="main-content" class="flex-grow-1">
        {% if page.url == '/' %}
            {{ content }}
        {% else %}
            <div class="container my-5">
                <div class="col-lg-8 mx-auto">
                    {{ content }}
                </div>
            </div>
        {% endif %}
    </main>
    
    {% include footer.html %}
    
    {% include scripts.html %}
</body>
</html>
